.nft__wapper{
    .nft__banner{
        height: 400px;
        background-image: url("../../assets/images/nft-bg1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.nft__box_warrp{
    padding: 60px 0;
    background-color: #010029;
    .nft__box{
        display: flex;
        justify-content: center;
        color: #fff;
        max-width: 1200px;
        margin: 0 auto;
        img{
            padding: 0 15px; 
            border: 1px solid orange;
            border-radius: 10px;
            margin-right: 100px;
        }
        .nftBoxInfo{
            h2{
                color: #fff;
                font-size: 3em;
            }
            .description{
                font-size: 22px;
                color: #ddd;
            }
            .operate{
                padding: 30px;
                background-color: #0a0012;
                border: 1px solid #353945;
                border-radius: 10px;
    
            }
        }
    }
}

.nft__list{
    padding: 60px 0;
}