.header__warpper{
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 16px 0 #f6f6f6;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    .haeder__logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 360px;
    }
    .header__right{
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
}